.carousel {
    width: 1000px ; 
    height:600px; 
    margin: 0 auto;
}
.card{
    width: 23rem;
}
.row{
    margin-left:auto;
    margin-right:auto;
    align-self: center;
}
body{
    background-color: linen;
}
#empty{
    height:75px;
}